<article class="kontakt">
    <h1><%= __('contact.title') %>:</h1>
    <address>
        <div>
            <p><span>(+420)</span> 722 915 669</p>
            <p><span>(+420)</span> 775 226 071</p>
            <%- mail_to('FrantisekSteininger@seznam.cz', '', {class: 'mail'}) %>
        </div>
        <p class="adresa">
            Na Svahu 129,
            <br />
            357 07, Oloví,
            <br />
            <%= __('contact.cz')%>
        </p>
    </address>
</article>
