<header>
    <div class="logo">
        <h1><%= __( 'header.logoTitle' ) %></h1>
        <hr />
        <h2>STEININGER</h2>
    </div>
    <article>
        <%- markdown( page.perex ) %>
    </article>
</header>
