<div class="mapa">
    <iframe width="385" height="385" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.cz/maps?f=q&amp;source=s_q&amp;hl=<%= page.lang %>&amp;geocode=&amp;q=Penzion+Steininger+olovi&amp;sll=50.25121,12.558674&amp;sspn=0.001082,0.002556&amp;t=h&amp;brcurrent=5,0,0&amp;ie=UTF8&amp;hq=Penzion+Steininger&amp;hnear=Olov%C3%AD&amp;ll=50.251053,12.558662&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
    <a href="https://maps.google.cz/maps?f=q&amp;source=embed&amp;hl=cs&amp;geocode=&amp;q=Penzion+Steininger+olovi&amp;sll=50.25121,12.558674&amp;sspn=0.001082,0.002556&amp;t=h&amp;brcurrent=5,0,0&amp;ie=UTF8&amp;hq=Penzion+Steininger&amp;hnear=Olov%C3%AD&amp;ll=50.251053,12.558662&amp;spn=0.006295,0.006295"><%= __('map.button') %></a>
</div>
